{{!-- Loop over each reservation object in the reservation array --}}
{{#if rooms.length}}
    <ul>
        {{#each rooms as |room|}}
            <li>
                <h3><a href="/room/{{room.id}}">{{room.title}}</a></h3>
                <p>Published on {{format_date room.date_created}}</p>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No reservations yet.</p>
{{/if}}