{{!-- Loop over each reservation object in the reservation array --}}
{{#if events.length}}
    <ul>
        {{#each events as |event|}}
            <li>
                <h3><a href="/event/{{event.id}}">{{event.title}}</a></h3>
                <p>Reserved on {{format_date event.reservation}}</p>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No reservations yet.</p>
{{/if}}