body {
    background: linear-gradient(to bottom right, #570a75, #b558da); /* Replace with your desired gradient colors */
    min-height: 100vh; /* Ensure gradient covers the full viewport height */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding inside the container */
  }
  
  /* Styling for form elements */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="checkbox"],
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #49076b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  button:hover {
    background-color: #8936a0;
  }
  
  header {
    background-color: #63247247; /* Dark background color for header */
    color: white; /* Text color for header */
    padding: 0; /* Padding inside header */
    text-align: center; /* Center align text */
  }
  
  nav {
    background-color: #62247214; /* Dark background color for navbar */
    padding: 10px; /* Padding inside navbar */
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-right: 10px;
    color: #49076b;
  }
  
  nav ul li a {
    color: white; /* Text color for navbar links */
    text-decoration: none;
    padding: 8px 12px; /* Padding inside navbar buttons */
    border-radius: 5px; /* Rounded corners for navbar buttons */
    transition: background-color 0.3s ease; /* Smooth background color transition */
  }
  
  nav ul li button{
    color: #49076b;
  }

  nav ul li a:hover {
    background-color: #777; /* Darker background color on hover */
  }
  
  main {
    background-color: #ffffff0e; /* White background color for main content */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: whitesmoke;
  }
  
  h2 {
    color: whitesmoke; /* Dark text color for headings */
    text-align: center;
    margin-bottom: 20px;
  }
  h3 {
    color: whitesmoke;
    margin-bottom: 20px;
  }
  
  .room-card-layout {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="checkbox"],
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove border */
  }
  
  .btn:hover {
    background-color: #45a049; /* Darker green background color on hover */
  }
  
 ul li a {
    color: whitesmoke

  }