<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room booking page</title>
  </head>
  <body>
    <div>
      {{room-filter}}
    </div>
    <section class="container">
      {{room-list}}
    </section>
    <div>
      <label for="dateTimePicker">Select Date and Time:</label>

      <input
        type="text"
        id="dateTimePicker"
        placeholder="Select Date and Time"
      />

      <button type="submit">Book Room</button>
    </div>
    <script>
      {{calander-tech}}

      {{book-btn-tech}}
    </script>
  </body>
</html>